/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

a {
    text-decoration: none;
    color: black;
}
/****** Header *******/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.navLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    margin-left: 60px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 26px;
}

/****** Recherche *******/

.find {
    line-height: 15px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.centerSearch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.centerContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    color: black;
    font-size: 20px;
}

.backGrey {
    background-color: var(--main-bg-color);
}

.borderSearch {
    
    border-radius: 10px;
    border: 0.5px solid #F2F2F2 ;
}

.borderNone{
    border: none;
}

.paddingSearch {
    padding-left: 20px;
}

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.search {
    height: 50px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    color: black
}

.backBlue{
    background-color: #0065FC;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.mobileButton {
    display: none;
}

/****** Filtres ********/

.filter {
    margin-top: 50px;
    margin-bottom: 30px;
}

.filterCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.filter2 {
    display: flex;
    flex-direction: row;
}

.groupFilter {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.group1, .group2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.hoverFilter:hover {
    background-color: #d4e1f7;
}

.textFilter {
    font-weight: bold;
    color: black;
}

.filter i{
    margin-right: 10px;
    font-size: 20px;
}
.borderFilter {
    padding: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 40px 40px 40px 40px;
}

/****** Information *******/

.infoCenter {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.iconInfo {
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconInfo i {
    font-size: 15px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.activites {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    width: 100%;
    margin-top: 33px;
}

.row1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.row2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.hebergements .card {
    width: 29%;
    height: 10%;
}


.hebergements-cards img {
    box-sizing: border-box;
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content{
    padding-left: 10px;
}

.hebergements-cards .card-title {
    margin-top: 8px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

.showMore {
    padding: 20px;
}
.showMore a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activités ********/

.activites {
    width: 100%;
}

.activiteTitle{
    padding-left: 20px;
    font-size: 16px;
}

.activitesH2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activitesCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.activitesCard .card {
    width: 22%;
    padding: 0px;
    margin-top: 33px;
}

.activitesCard img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/******* Footer *******/

.footer {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textGroup {
    padding: 20px
}

.textGroup a {
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Information *******/

    .infoCenter {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }

    /****** Filtres ********/

    .filter {
        margin-top: 20px;
    }
    .filterCenter {
        flex-direction: column;
    }
    
    /***** Hébergements and populaires ****/ 

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activitesCard img {
        height: 200px;
    }

    .footer {
        margin-top: 60px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    /****** General ***********/

html, body {
    margin: 0;
    padding: 0;
}

.main-container {
    padding: 0;
}

/****** Header *******/

header {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0;
    
}

nav a {
    margin-left: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    
}

nav img {
    padding-top: 30px;
}

.navLink {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.link1 {
    display: flex;
    justify-content: center;
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 25px;
}

.link2 {
    display: flex;
    justify-content: center;
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 25px;
}

.link1:hover {
    color: #0065FC;
    border-top: none;
    border-bottom:2px solid #0065FC;
}

.link2:hover {
    color: #0065FC;
    border-top: none;
    border-bottom:2px solid #0065FC;
}

nav a:hover {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
}

/****** Recherche *******/

.find {
    line-height: normal;
    margin-top: 0;
}

.desktopButton{
    display: none;
}
.mobileFind {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    
}

.search {
    height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: black
}

.borderSearch {
    border-radius: 15px;
}

.centerSearch {
    justify-content: center;
}

.backBlue{
    background-color: #0065FC;
}

.buttonSearch {
    height: 50px;
    width: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}

.mobileButton {
    display: block;
}

.mobileButton i {
    color: white;
}

/****** Filtres ********/

.filter {
    margin-top: 15px;
    margin-bottom: 30px;
}

.filterCenter {
    flex-direction: column;
    width: 100%;
}

.filter2 {
    padding-left: 20px;
}

.groupFilter {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.group1, .group2 {
    flex-direction: row;
    gap: 15px;
}

.textFilter {
    font-size: 14px;
}
.borderFilter {
    padding: 15px;
    width: 50%;
}

/****** Information *******/

.infoCenter {
    width: 95%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}

.iconInfo {
    min-width: 30px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires section{
    border-radius: 0;
}

.hebergements-and-populaires {
    flex-direction: column-reverse;
}

.hebergements-and-populaires .hebergements {
    background-color: white;
}

/****** Hebergements ***********/

.row1 {
    flex-direction: column;
    gap: 30px;
}

.row2 {
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    width: 100%;
    
}

.hebergements-cards .card {
    width: 100%;
}

/****** Populaires ***********/

.populaires-cards {
    flex-direction: column;
    width: 100%;
}

.populaires-cards .card {
    width: 100%;
}

.populaires {
    padding: 0px;
}  
   
/******** Activités ********/ 

.activitesCard{
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.activitesCard .card{
    width: 100%;
}

.activitesCard img {
    height: 200px;
}
  
/******* Footer *******/

.footer {
    flex-direction: column;
    margin-top: 40px;
    padding-left: 15px;
}

}