
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Information *******/

    .infoCenter {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }

    /****** Filtres ********/

    .filter {
        margin-top: 20px;
    }
    .filterCenter {
        flex-direction: column;
    }
    
    /***** Hébergements and populaires ****/ 

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activitesCard img {
        height: 200px;
    }

    .footer {
        margin-top: 60px;
    }
}