/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header *******/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 60px;
}

nav a:hover {
    text-decoration: none;
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 26px;
}

/****** Recherche *******/

.find {
    line-height: 15px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.centerSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    color: black;
    font-size: 20px;
}

.backGrey {
    background-color: var(--main-bg-color);
}

.borderSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2 ;
}

.borderNone{
    border: none;
}

.paddingSearch {
    padding-left: 20px;
}

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.search {
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: black
}

.backBlue{
    background-color: #0065FC;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

/****** Filtres ********/

.filter {
    margin-top: 50px;
    margin-bottom: 50px;
}

.filterCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}
.filter a {
    text-decoration: none;
    color: black;
}

.hoverFilter:hover {
    background-color: #d4e1f7;
}

.textFilter {
    font-weight: bold;
    color: black;
}

.filter i{
    margin-right: 10px;
    font-size: 20px;
}
.borderFilter {
    padding: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 40px 40px 40px 40px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    nav a:hover {
        text-decoration: none;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 22px;
    }
}



